body{
    background-color: rgb(220, 217, 249);
}

/* h1{
    text-align: center;
    color:  rgb(0,0,0);
    font-size: 50px;
    /* font-family: "Times New Roman", Times, serif;  */

footer{
    align-self: bottom;
    text-align: right;
}